<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Accellos.InterfaceFramework.EventNotificationServer.Callback">
				<endpoint address="" binding="basicHttpBinding" name="CallbackEndpoint" contract="Accellos.InterfaceFramework.EventNotificationServer.ICallbackContract"/>
			</service>
		</services>
		<client>
			<endpoint name="EventNotificationClient" address="http://localhost:54500/EventNotificationServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.EventNotificationServer.IEventNotificationContract"/>
			<endpoint name="ConfigurationClient" address="http://localhost:54501/ConfigurationServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.ConfigurationServer.IConfigurationContract"/>
			<endpoint name="ScriptManagementClient" address="http://localhost:54502/ScriptManagementServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.ScriptManagementServer.IScriptManagementContract"/>
			<endpoint name="JobServerClient" address="http://localhost:54503/JobServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.JobServer.IJobServerContract"/>
		</client>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_Details" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<appSettings>
		<add key="callbackHost" value="http://localhost:123/Callback"/>
		<add key="applicationName" value="Interface"/>	
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>  
</configuration>