<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HighJump.Integrations.ShipUtils.Services.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Accellos.InterfaceFramework.EventNotificationServer.Callback">
        <endpoint address="" binding="basicHttpBinding" name="CallbackEndpoint" contract="Accellos.InterfaceFramework.EventNotificationServer.ICallbackContract" />
      </service>
      <service name="HighJump.Integrations.WarehouseToShip.Services.ShipRequest" behaviorConfiguration="HighJump.Integrations.ShipUtils.Services.ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ShipRequest_wsHttpBinding" contract="HighJump.Integrations.ShipUtils.Services.IShipRequest">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/HighJump.Integrations.WarehouseToShip.Services/ShipRequest/" />
          </baseAddresses>
        </host>
      </service>
      <service name="HighJump.Integrations.WarehouseToShip.Services.ManualShipment" behaviorConfiguration="HighJump.Integrations.ShipUtils.Services.ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ManualShipment_wsHttpBinding" contract="HighJump.Integrations.ShipUtils.Services.IManualShipment">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/HighJump.Integrations.WarehouseToShip.Services/ManualShipment/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint name="EventNotificationClient" address="http://localhost:54500/EventNotificationServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.EventNotificationServer.IEventNotificationContract" />
      <endpoint name="ConfigurationClient" address="http://localhost:54501/ConfigurationServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.ConfigurationServer.IConfigurationContract" />
      <endpoint name="ScriptManagementClient" address="http://localhost:54502/ScriptManagementServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.ScriptManagementServer.IScriptManagementContract" />
      <endpoint name="JobServerClient" address="http://localhost:54503/JobServer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Details" contract="Accellos.InterfaceFramework.JobServer.IJobServerContract" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Details" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ShipRequest_wsHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="ManualShipment_wsHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="callbackHost" value="http://localhost:123/Callback" />
    <add key="applicationName" value="Interface" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>